{% load static %}
<header class="u-black u-clearfix u-header u-header" id="sec-71cb" data-animation-name="" data-animation-duration="0" data-animation-delay="0" data-animation-direction=""><div class="u-clearfix u-sheet u-sheet-1">
    <a href="{% url 'main-page' %}" class="u-image u-logo u-image-1" data-image-width="360" data-image-height="305" title="Main Page">
      <img src="{% static 'images/logo.png' %}" class="u-logo-image u-logo-image-1">
    </a>
    <nav class="u-dropdown-icon u-menu u-menu-dropdown u-offcanvas u-menu-1">
      <div class="menu-collapse" style="font-size: 1rem; letter-spacing: 0px;">
        <a class="u-button-style u-custom-active-color u-custom-color u-custom-left-right-menu-spacing u-custom-padding-bottom u-custom-text-active-color u-custom-text-color u-custom-text-hover-color u-custom-top-bottom-menu-spacing u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" href="#">
          <svg class="u-svg-link" viewBox="0 0 24 24"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#menu-hamburger"></use></svg>
          <svg class="u-svg-content" version="1.1" id="menu-hamburger" viewBox="0 0 16 16" x="0px" y="0px" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg"><g><rect y="1" width="16" height="2"></rect><rect y="7" width="16" height="2"></rect><rect y="13" width="16" height="2"></rect>
</g></svg>
        </a>
      </div>
      <div class="u-custom-menu u-nav-container">
        <ul class="u-nav u-unstyled u-nav-1"><li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-white u-text-body-alt-color u-text-hover-grey-30" style="padding: 10px;">Accessories</a><div class="u-nav-popup"><ul class="u-h-spacing-16 u-nav u-unstyled u-v-spacing-21 u-nav-2"><li class="u-nav-item"><a class="u-button-style u-custom-color-1 u-nav-link">CPU Fans &amp; Heatsinks</a>
</li><li class="u-nav-item"><a class="u-button-style u-custom-color-1 u-nav-link">Case Fans</a>
</li><li class="u-nav-item"><a class="u-button-style u-custom-color-1 u-nav-link">Thermal Paste</a>
</li><li class="u-nav-item"><a class="u-button-style u-custom-color-1 u-nav-link" href="{% url 'keyboards_mice' %}">KEYBOARDS &amp; MICE</a>
</li></ul>
</div>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-white u-text-body-alt-color u-text-hover-grey-30" style="padding: 10px;">Furniture</a><div class="u-nav-popup"><ul class="u-h-spacing-16 u-nav u-unstyled u-v-spacing-21 u-nav-3"><li class="u-nav-item"><a class="u-button-style u-custom-color-1 u-nav-link">Chairs</a>
</li><li class="u-nav-item"><a class="u-button-style u-custom-color-1 u-nav-link">Tables</a>
</li></ul>
</div>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-white u-text-body-alt-color u-text-hover-grey-30" style="padding: 10px;">PC components</a><div class="u-nav-popup"><ul class="u-h-spacing-16 u-nav u-unstyled u-v-spacing-21 u-nav-4"><li class="u-nav-item"><a class="u-button-style u-custom-color-1 u-nav-link">Power Supply Units</a>
</li><li class="u-nav-item"><a class="u-button-style u-custom-color-1 u-nav-link">PC Cases</a>
</li></ul>
</div>
</li></ul>
      </div>
      <div class="u-custom-menu u-nav-container-collapse">
        <div class="u-black u-container-style u-inner-container-layout u-opacity u-opacity-95 u-sidenav">
          <div class="u-inner-container-layout u-sidenav-overflow">
            <div class="u-menu-close"></div>
            <ul class="u-align-center u-nav u-popupmenu-items u-unstyled u-nav-5"><li class="u-nav-item"><a class="u-button-style u-nav-link">Accessories</a><div class="u-nav-popup"><ul class="u-h-spacing-16 u-nav u-unstyled u-v-spacing-21 u-nav-6"><li class="u-nav-item"><a class="u-button-style u-nav-link">CPU Fans &amp; Heatsinks</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link">Case Fans</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link">Thermal Paste</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link">KEYBOARDS &amp; MICE</a>
</li></ul>
</div>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link">Furniture</a><div class="u-nav-popup"><ul class="u-h-spacing-16 u-nav u-unstyled u-v-spacing-21 u-nav-7"><li class="u-nav-item"><a class="u-button-style u-nav-link">Chairs</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link">Tables</a>
</li></ul>
</div>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link">PC components</a><div class="u-nav-popup"><ul class="u-h-spacing-16 u-nav u-unstyled u-v-spacing-21 u-nav-8"><li class="u-nav-item"><a class="u-button-style u-nav-link">Power Supply Units</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link">PC Cases</a>
</li></ul>
</div>
</li></ul>
          </div>
        </div>
        <div class="u-black u-menu-overlay u-opacity u-opacity-70"></div>
      </div>
    </nav>
    <a href="login" class="u-active-grey-30 u-border-2 u-border-grey-75 u-btn u-btn-round u-button-style u-grey-70 u-hover-grey-50 u-radius-3 u-btn-1">Login</a><!--shopping_cart-->
    <a class="u-shopping-cart u-shopping-cart-1" href="#"><span class="u-icon u-icon-rectangle u-shopping-cart-icon u-text-white u-icon-1"><svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 16 16" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-d0d8"></use></svg><svg class="u-svg-content" viewBox="0 0 16 16" x="0px" y="0px" id="svg-d0d8"><path d="M14.5,3l-2.1,5H6.1L5.9,7.6L4,3H14.5 M0,0v1h2.1L5,8l-2,4h11v-1H4.6l1-2H13l3-7H3.6L2.8,0H0z M12.5,13
c-0.8,0-1.5,0.7-1.5,1.5s0.7,1.5,1.5,1.5s1.5-0.7,1.5-1.5S13.3,13,12.5,13L12.5,13z M4.5,13C3.7,13,3,13.7,3,14.5S3.7,16,4.5,16
S6,15.3,6,14.5S5.3,13,4.5,13L4.5,13z"></path></svg>
    <span class="u-icon-circle u-shopping-cart-count" style="font-size: 0.75rem;"><!--shopping_cart_count-->2<!--/shopping_cart_count--></span>
</span>
    </a><!--/shopping_cart-->
  </div></header>