{% load static %}
<section class="u-clearfix u-custom-color-6 u-section-2" id="sec-4dd2">
      <div class="u-clearfix u-sheet u-valign-top-sm u-valign-top-xs u-sheet-1">
        <div class="u-border-3 u-border-grey-dark-1 u-hidden-sm u-hidden-xs u-line u-line-vertical u-line-1"></div>
        <div class="u-border-3 u-border-grey-dark-1 u-hidden-sm u-hidden-xs u-line u-line-vertical u-line-2"></div>
        <p class="u-align-center u-custom-font u-heading-font u-text u-text-1"> THE ADVANTAGES OF BUYING FROM US</p><span class="u-border-2 u-border-grey-50 u-file-icon u-icon u-icon-circle u-text-white u-icon-1"><img src="{% static 'images/box-icon.png' %}" alt=""></span><span class="u-border-2 u-border-grey-50 u-file-icon u-icon u-icon-circle u-text-white u-icon-2" data-animation-name="" data-animation-duration="0" data-animation-delay="0" data-animation-direction=""><img src="{% static 'images/police-icon.png' %}" alt=""></span><span class="u-border-2 u-border-grey-50 u-file-icon u-icon u-icon-circle u-text-white u-icon-3" data-animation-name="" data-animation-duration="0" data-animation-delay="0" data-animation-direction=""><img src="{% static 'images/van-icon.png' %}" alt=""></span>
        <p class="u-align-left u-custom-font u-heading-font u-text u-text-2"> Only official products from official manufacturers</p>
        <p class="u-align-left u-custom-font u-heading-font u-text u-text-3"> We deliver to the right address at the right time</p>
        <p class="u-align-left u-custom-font u-heading-font u-text u-text-4">Get your order in 24 hours</p>
      </div>
    </section>
    <section class="u-clearfix u-custom-color-6 u-section-3" id="sec-1618">
      <div class="u-container-style u-expanded-width u-group u-image u-shading u-image-1" data-image-width="1920" data-image-height="1080">
        <div class="u-container-layout u-container-layout-1"><span class="u-file-icon u-icon u-icon-rectangle u-icon-1"><img src="{% static 'images/warranty-icon.png' %}" alt=""></span>
          <h1 class="u-align-center u-text u-text-default u-text-grey-60 u-text-1">1 Year waranty for all products </h1>
          <p class="u-align-left u-custom-font u-heading-font u-text u-text-default-lg u-text-default-md u-text-default-sm u-text-default-xl u-text-grey-60 u-text-2"> Get 1 year official branded warranty in your country. We are always in touch,&nbsp;<br>we are loyal to gamers - first-hand support.
          </p>
        </div>
      </div>
    </section>