{% extends 'mainpage/base-main-page.html' %}
{% block content %}
<link rel="stylesheet" href="#">
<main>
    <section class="u-clearfix u-image u-section-1" id="sec-2af9" data-image-width="1980" data-image-height="1200">
      <div class="u-clearfix u-sheet u-valign-middle-md u-sheet-1">
        <div class="text-wrapper" style="
    margin-top: 200px;
    color: white;
    text-align: center;
    font-weight: 700;">
          <h1>ATTENTION</h1>
          <h4>This project is not a real store and is based on information from public sources, most of technical specifications of products presented on this site are not verified and added only to show technical capabilities of the project.</h4>
          <h4>​ALL RIGHTS TO THE PRODUCTS ARE RESERVED BY THEIR OWNERS</h4>
          <h4>Please note that I am not a frontend developer or designer, so when developing this site I used the NicePage builder, unfortunately this builder does not work well with Django because it creates separate confusing css files for each page, which can lead to some errors and changes in the standard programming ways of Django</h4>
        </div>
      </div>
    </section>
</main>
{% endblock %}